//

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "/partials/_variables";
@import "/utilities";
@import "/partials/_header";
@import "/partials/_comics";
@import "/partials/_comics-details";
@import "/partials/_buy-comics-section";
@import "/partials/_buy-comics-buttons";
@import "/partials/_footer";

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Open Sans Condensed", sans-serif;
}
