//

@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import "utilities.scss";
@import "partials/_variables";
@import "partials/_header";
@import "partials/home-main";
@import "/partials/_buy-comics-section";

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Open Sans Condensed", sans-serif;
}
