@import url(https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;

700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap);.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.ul {
  list-style: none;
}

.btn {
  border: none;
  display: block;
  cursor: pointer;
  background-color: transparent;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

.header .blue-line {
  background-color: #0282f9;
}

.header .blue-line .blue-line__container {
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
  font-size: 0.7rem;
  padding: 0.3rem 1rem;
}

.header .nav {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  padding-top: 18px;
  border-bottom: lightgray;
}

.header .nav .nav__logo {
  height: 81px;
}

.header .nav .nav__logo img {
  height: 100%;
}

.header .nav .nav__ul,
.header .nav .nav__search-bar {
  padding-top: 30px;
}

.header .nav .nav__ul {
  padding-top: 30px;
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  position: relative;
}

.header .nav .nav__ul .nav__li {
  position: relative;
  padding-bottom: 52px;
  text-transform: uppercase;
  font-weight: 700;
  color: #464646;
}

.header .nav .nav__ul .nav__li .nav__drop-down-caret {
  color: #0282f9;
}

.header .nav .nav__ul .nav__li::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 0;
  right: 0;
  transition: all 0.4s;
}

.header .nav .nav__ul .nav__li:hover::after,
.header .nav .nav__ul .nav__li.active::after {
  top: 92%;
  background-color: #0282f9;
}

.header .nav .nav__ul .nav__li .nav__link:hover {
  color: #0282f9;
}

.header .nav .nav__ul .nav__li .nav__sub-ul {
  position: absolute;
  z-index: 1;
  display: none;
  top: 100%;
  left: 0;
  right: auto;
  background-color: #ebebeb;
}

.header .nav .nav__ul .nav__li .nav__sub-ul .nav__sub-li {
  padding: 8px 10px;
  white-space: nowrap;
}

.header .nav .nav__ul .nav__li .nav__sub-ul .nav__sub-li:hover {
  color: #0282f9;
}

.header .nav .nav__ul .nav__li:hover .nav__sub-ul {
  display: block;
}

.header .nav .nav__search-bar {
  border-bottom: 3px solid #0282f9;
  align-self: flex-start;
  padding-bottom: 5px;
}

.header .nav .nav__search-bar .search-bar__input {
  border: none;
  text-align: right;
  width: 90px;
  padding-left: 10px;
}

.header .nav .nav__search-bar .search-bar__input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #464646;
}

.header .nav .nav__search-bar .search-bar__input:-ms-input-placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #464646;
}

.header .nav .nav__search-bar .search-bar__input::placeholder {
  font-size: 1rem;
  font-weight: 700;
  color: #464646;
}

.header .nav .nav__search-bar .search-bar__input:focus {
  outline: none;
}

.header .nav .nav__search-bar .search-bar__icon {
  color: #464646;
  font-size: 1.1rem;
}

.jumbotron {
  background-image: url("/images/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  height: 400px;
}

.current-series-section {
  background-color: #1c1c1c;
}

.current-series-section .container {
  position: relative;
  padding: 3rem 0 1.5rem;
}

.current-series-section .section-title {
  position: absolute;
  top: 0;
  left: 0;
  transform: translatey(-50%);
  background: #0282f9;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.current-series-section .comics-grid {
  padding: 1.8rem 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.8rem;
}

.current-series-section .comics-grid .comic {
  width: 100%;
}

.current-series-section .comics-grid .comic .ratio {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

.current-series-section .comics-grid .comic .ratio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.current-series-section .comics-grid .comic .series-title {
  padding: 1.5rem 0;
  color: white;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.current-series-section .btn--load-more {
  background: #0282f9;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.8rem 4rem;
  margin: auto;
}

.blue-stripe {
  background: #0282f9;
  height: 80px;
}

.blue-stripe .thumbnail-container {
  position: relative;
}

.blue-stripe .thumbnail-container .thumbnail {
  position: absolute;
  left: 120px;
  bottom: -60px;
  border: 1px solid white;
}

.comic-description__container,
.comic-specs__container,
.buy-comics--details__container {
  padding: 0 120px;
}

.comic-description__container {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 3rem;
  padding-top: 70px;
  padding-bottom: 70px;
}

.comic-description__container .comic-description__article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.comic-description__container .comic-description__article .h1 {
  padding: 1rem 0 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #003f5e;
}

.comic-description__container .comic-description__article .green-box {
  background-color: #55ba59;
  display: flex;
  border-bottom: 1px solid #357739;
  font-size: 0.8rem;
}

.comic-description__container .comic-description__article .green-box .price-container {
  font-weight: 700;
  flex: 1 0 auto;
  display: flex;
  color: #a8f98e;
  padding: 16px 25px;
  border-right: 1px solid #357739;
}

.comic-description__container .comic-description__article .green-box .price-container .price {
  padding-left: 0.5rem;
  color: white;
}

.comic-description__container .comic-description__article .green-box .price-container .availability {
  text-transform: uppercase;
  margin-left: auto;
}

.comic-description__container .comic-description__article .green-box .btn--availability {
  padding: 16px 25px;
  flex: 0 0 auto;
  color: white;
}

.comic-description__container .comic-description__article .description {
  color: #464646;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.comic-description__container .comic-description__aside {
  text-align: end;
  font-weight: 700;
  text-transform: uppercase;
  color: #464646;
}

.comic-specs {
  background-color: #f6f6f6;
}

.comic-specs .comic-specs__container {
  padding-top: 29px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  font-size: 0.7rem;
  color: #003f5e;
}

.comic-specs .comic-specs__container .left-column > *,
.comic-specs .comic-specs__container .right-column > * {
  border-bottom: 1px solid #dfdfdf;
}

.comic-specs .comic-specs__container .comic-spec__category {
  font-size: 1rem;
  padding-bottom: 1.4rem;
}

.comic-specs .comic-specs__container .key-value {
  display: grid;
  grid-template-columns: 2fr 4fr;
  padding: 0.8rem 0;
}

.comic-specs .comic-specs__container .key-value .value .a {
  color: #18a9d9;
}

.buy-comics-section {
  background-color: #0282f9;
}

.buy-comics-section .nav {
  padding: 3rem 0;
}

.buy-comics-section .nav .nav__ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.buy-comics-section .nav .nav__ul img {
  height: 57px;
}

.buy-comics-section .nav .nav__ul .nav__a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buy-comics-section .nav .nav__ul .nav__li:last-of-type img {
  height: 40px;
}

.buy-comics--details {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f6f6f6;
}

.buy-comics--details .buy-comics-buttons__btn-group {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  font-weight: 700;
  color: #a5a5a5;
  text-transform: uppercase;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn {
  display: flex;
  align-items: flex-start;
  flex: 0 0 25%;
  padding: 15px;
  border-left: 1px solid #dfdfdf;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn .cta-icon {
  position: relative;
  height: 36px;
  width: 37px;
  overflow: hidden;
  margin-left: auto;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn .cta-icon.cta-icon--1 .img {
  position: absolute;
  top: 0;
  left: -37px;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn .cta-icon.cta-icon--2 .img {
  position: absolute;
  top: 0;
  left: -74px;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn .cta-icon.cta-icon--3 .img {
  position: absolute;
  top: 0;
  left: -111px;
}

.buy-comics--details .buy-comics-buttons__btn-group .buy-comics-buttons__btn:last-of-type {
  border-right: 1px solid #dfdfdf;
}

.sitemap {
  background-image: url("/images/footer-bg.jpg");
  overflow: hidden;
}

.sitemap .sitemap__container {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  color: #959595;
}

.sitemap .sitemap__container .sitemap__nav {
  position: relative;
  z-index: 1;
  height: 340px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 21px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.sitemap .sitemap__container .sitemap__nav .sitemap__category {
  color: white;
}

.sitemap .sitemap__container .sitemap__nav .ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sitemap .sitemap__container .sitemap__nav .ul .li {
  color: #959595;
}

.sitemap .sitemap__container .right-reserved .a {
  color: #0282f9;
}

.sitemap .sitemap__container .sitemap__logo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
  z-index: 0;
}

.button-strip {
  background: #303030;
}

.button-strip .container {
  display: flex;
  padding: 30px 0;
}

.button-strip .container .btn--sign-up,
.button-strip .container .social-links {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.button-strip .container .btn--sign-up {
  background: transparent;
  border: 2px solid #0282f9;
  color: white;
  padding: 0 1rem;
  margin-right: auto;
}

.button-strip .container .social-links {
  color: #0282f9;
  display: flex;
  gap: 1rem;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Open Sans Condensed", sans-serif;
}

