.header {
    .blue-line {
        background-color: $clr_primary;
        .blue-line__container {
            text-transform: uppercase;
            color: white;
            display: flex;
            justify-content: flex-end;
            gap: 4rem;
            font-size: 0.7rem;
            padding: 0.3rem 1rem;
        }
    }
    .nav {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
        padding-top: 18px;
        border-bottom: lightgray;
        .nav__logo {
            height: 81px;
            img {
                height: 100%;
            }
        }
        .nav__ul,
        .nav__search-bar {
            padding-top: 30px;
        }
        .nav__ul {
            padding-top: 30px;
            align-self: flex-end;
            display: flex;
            gap: 1rem;
            position: relative;
            .nav__li {
                position: relative;
                padding-bottom: 52px;
                text-transform: uppercase;
                font-weight: 700;
                color: $clr_secondary;
                .nav__drop-down-caret {
                    color: $clr_primary;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    top: 100%;
                    left: 0;
                    right: 0;
                    transition: all 0.4s;
                }
                &:hover::after,
                &.active::after {
                    top: 92%;
                    background-color: $clr_primary;
                }
                .nav__link:hover {
                    color: $clr_primary;
                }
                .nav__sub-ul {
                    position: absolute;
                    display: none;
                    top: 100%;
                    left: 0;
                    right: auto;
                    background-color: #ebebeb;
                    .nav__sub-li {
                        padding: 8px 10px;
                        white-space: nowrap;
                        &:hover {
                            color: $clr_primary;
                        }
                    }
                }
                &:hover .nav__sub-ul {
                    display: block;
                }
            }
        }
        .nav__search-bar {
            border-bottom: 3px solid $clr_primary;
            align-self: flex-start;
            padding-bottom: 5px;
            .search-bar__input {
                border: none;
                text-align: right;
                width: 90px;
                padding-left: 10px;
                &::placeholder {
                    font-size: 1rem;
                    font-weight: 700;
                    color: $clr_secondary;
                }
                &:focus {
                    outline: none;
                }
            }
            .search-bar__icon {
                color: $clr_secondary;
                font-size: 1.1rem;
            }
        }
    }
}
